ion-segment{
  background:var(--ion-color-primary);
}

ion-segment-button{
  --color:rgba(255, 255, 255, 0.51);
  --color-checked:white;
  --indicator-height:4px;
  --indicator-color:rgb(246, 239, 239);
}

.name{
  font-size: 18px;
  font-weight: bold;
  color:black;
}
.msg{
  font-size: 15px;
  font-weight: bold;
}
.time{
  font-weight: bold;
}
